In [6]:
print "Hello World"

Hello World

In [7]:
import csv
import pandas
data = pandas.read_csv("NYPD_Complaint_Data_Historic.csv", usecols=[5,7,13])

In [8]:
sel = data[(data["BORO_NM"] == 'MANHATTAN') & (data["RPT_DT"].str.contains("2016"))]

In [9]:
crimes = sel.groupby(['OFNS_DESC']).count()
crimes

                                      RPT_DT  BORO_NM
OFNS_DESC
ADMINISTRATIVE CODE                       87       87
AGRICULTURE & MRKTS LAW-UNCLASSIFIED      37       37
ALCOHOLIC BEVERAGE CONTROL LAW            12       12
ANTICIPATORY OFFENSES                      2        2
ARSON                                    135      135
ASSAULT 3 & RELATED OFFENSES           10418    10418
BURGLAR'S TOOLS                          102      102
BURGLARY                                2419     2419
CHILD ABANDONMENT/NON SUPPORT              6        6
CRIMINAL MISCHIEF & RELATED OF         10003    10003
CRIMINAL TRESPASS                       1363     1363
DANGEROUS DRUGS                         6603     6603
DANGEROUS WEAPONS                       2308     2308
DISORDERLY CONDUCT                        14       14
DISRUPTION OF A RELIGIOUS SERV             2        2
ENDAN WELFARE INCOMP                       7        7
ESCAPE 3                                   3        3
FELONY ASSAULT                          3768     3768
FORGERY                                 1557     1557
FRAUDS                                   884      884
FRAUDULENT ACCOSTING                     170      170
GAMBLING                                 101      101
GRAND LARCENY                          16477    16477
GRAND LARCENY OF MOTOR VEHICLE           732      732
HARRASSMENT 2                          13245    13245
INTOXICATED & IMPAIRED DRIVING           893      893
INTOXICATED/IMPAIRED DRIVING               1        1
JOSTLING                                  33       33
KIDNAPPING & RELATED OFFENSES             25       25
LOITERING                                  1        1
LOITERING/GAMBLING (CARDS, DIC             3        3
MISCELLANEOUS PENAL LAW                 2019     2019
MURDER & NON-NEGL. MANSLAUGHTER           41       41
NEW YORK CITY HEALTH CODE                  1        1
NYS LAWS-UNCLASSIFIED FELONY             329      329
NYS LAWS-UNCLASSIFIED VIOLATION            2        2
OFF. AGNST PUB ORD SENSBLTY &           4722     4722
OFFENSES AGAINST PUBLIC ADMINI          2422     2422
OFFENSES AGAINST PUBLIC SAFETY            16       16
OFFENSES AGAINST THE PERSON              300      300
OFFENSES INVOLVING FRAUD                 554      554
OFFENSES RELATED TO CHILDREN              11       11
OTHER OFFENSES RELATED TO THEF           419      419
OTHER STATE LAWS                           4        4
OTHER STATE LAWS (NON PENAL LA            96       96
OTHER STATE LAWS (NON PENAL LAW)           2        2
PETIT LARCENY                          24620    24620
PETIT LARCENY OF MOTOR VEHICLE             7        7
POSSESSION OF STOLEN PROPERTY            486      486
PROSTITUTION & RELATED OFFENSES           10       10
RAPE                                     291      291
ROBBERY                                 2918     2918
SEX CRIMES                              1854     1854
THEFT OF SERVICES                        228      228
THEFT-FRAUD                             1493     1493
UNAUTHORIZED USE OF A VEHICLE            171      171
VEHICLE AND TRAFFIC LAWS                1079     1079

In [5]:
sortedCrimes = crimes.sort_values(by=['BORO_NM'], ascending=False)
sortedCrimes.head()

                                RPT_DT  BORO_NM
OFNS_DESC
PETIT LARCENY                    24620    24620
GRAND LARCENY                    16477    16477
HARRASSMENT 2                    13245    13245
ASSAULT 3 & RELATED OFFENSES     10418    10418
CRIMINAL MISCHIEF & RELATED OF   10003    10003

In [79]:
petit = sel[(sel["OFNS_DESC"] == 'PETIT LARCENY')]
grand = sel[(sel["OFNS_DESC"] == 'GRAND LARCENY')]

In [87]:
harass = sel[(sel["OFNS_DESC"] == 'HARRASSMENT 2')]

In [88]:
assault = sel[(sel["OFNS_DESC"] == 'ASSAULT 3 & RELATED OFFENSES')]

In [89]:
criminal = sel[(sel["OFNS_DESC"] == 'CRIMINAL MISCHIEF & RELATED OF')]

In [55]:
petit['RPT_DT'] = pandas.to_datetime(petit['RPT_DT'])

C:\Users\Porter\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [81]:
grand['RPT_DT'] = pandas.to_datetime(grand['RPT_DT'])

C:\Users\Porter\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [90]:
assault['RPT_DT'] = pandas.to_datetime(assault['RPT_DT'])

C:\Users\Porter\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [91]:
harass['RPT_DT'] = pandas.to_datetime(harass['RPT_DT'])

C:\Users\Porter\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [92]:
criminal['RPT_DT'] = pandas.to_datetime(criminal['RPT_DT'])

C:\Users\Porter\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [56]:
petit.head()

            RPT_DT      OFNS_DESC    BORO_NM
5101380 2016-12-31  PETIT LARCENY  MANHATTAN
5101391 2016-12-31  PETIT LARCENY  MANHATTAN
5101458 2016-12-31  PETIT LARCENY  MANHATTAN
5101476 2016-12-31  PETIT LARCENY  MANHATTAN
5101495 2016-12-31  PETIT LARCENY  MANHATTAN

In [82]:
grand.head()

            RPT_DT      OFNS_DESC    BORO_NM
5101244 2016-12-31  GRAND LARCENY  MANHATTAN
5101245 2016-12-31  GRAND LARCENY  MANHATTAN
5101246 2016-12-31  GRAND LARCENY  MANHATTAN
5101255 2016-12-31  GRAND LARCENY  MANHATTAN
5101257 2016-12-31  GRAND LARCENY  MANHATTAN

In [57]:
petit.dtypes

RPT_DT       datetime64[ns]
OFNS_DESC            object
BORO_NM              object
dtype: object

In [77]:
months = petit['RPT_DT'].dt.month

In [93]:
monthsg = grand['RPT_DT'].dt.month

In [96]:
monthsh = harass['RPT_DT'].dt.month

In [97]:
monthsa = assault['RPT_DT'].dt.month

In [98]:
monthsc = criminal['RPT_DT'].dt.month

In [78]:
from collections import Counter
Counter(months)

Counter({1L: 1976,
         2L: 1774,
         3L: 1970,
         4L: 1993,
         5L: 2103,
         6L: 2142,
         7L: 2178,
         8L: 2305,
         9L: 2105,
         10L: 2046,
         11L: 1918,
         12L: 2110})

In [84]:
Counter(monthsg)

Counter({1L: 1328,
         2L: 1131,
         3L: 1392,
         4L: 1286,
         5L: 1365,
         6L: 1438,
         7L: 1396,
         8L: 1465,
         9L: 1338,
         10L: 1418,
         11L: 1384,
         12L: 1536})

In [99]:
Counter(monthsh)

Counter({1L: 1029,
         2L: 920,
         3L: 1131,
         4L: 1109,
         5L: 1224,
         6L: 1178,
         7L: 1079,
         8L: 1235,
         9L: 1116,
         10L: 1142,
         11L: 1064,
         12L: 1018})

In [100]:
Counter(monthsa)

Counter({1L: 761,
         2L: 724,
         3L: 875,
         4L: 885,
         5L: 972,
         6L: 918,
         7L: 959,
         8L: 925,
         9L: 886,
         10L: 910,
         11L: 832,
         12L: 771})

In [101]:
Counter(monthsc)

Counter({1L: 828,
         2L: 745,
         3L: 833,
         4L: 1101,
         5L: 792,
         6L: 981,
         7L: 812,
         8L: 1049,
         9L: 686,
         10L: 893,
         11L: 634,
         12L: 649})