In [2]:
print "Hello World"

Hello World

In [ ]:
import csv
import pandas
data = pandas.read_csv("NYPD_Complaint_Data_Historic.csv", usecols=[0,13])

In [ ]:
print data

In [20]:
len(data[data["BORO_NM"] == 'BRONX'])

In [12]:
len(data[data["BORO_NM"] == 'QUEENS'])

1105621

In [13]:
len(data[data["BORO_NM"] == 'BROOKLYN'])

1666903

In [14]:
len(data[data["BORO_NM"] == 'MANHATTAN'])

1331760

In [15]:
len(data[data["BORO_NM"] == 'STATEN ISLAND'])

265641

In [61]:
bronx = len(data[data["BORO_NM"] == 'BRONX']) / float(len(data)) * 100
queens = len(data[data["BORO_NM"] == 'QUEENS']) / float(len(data)) * 100
manhattan = len(data[data["BORO_NM"] == 'MANHATTAN']) / float(len(data)) * 100
brooklyn = len(data[data["BORO_NM"] == 'BROOKLYN']) / float(len(data)) * 100
staten = len(data[data["BORO_NM"] == 'STATEN ISLAND']) / float(len(data)) * 100

In [64]:
result = []
strsum = "bronx, %f" % bronx
result.append(strsum)
strsum = "queens, %f" % queens
result.append(strsum)
strsum = "manhattan, %f" % manhattan
result.append(strsum)
strsum = "brooklyn, %f" % brooklyn
result.append(strsum)
strsum = "staten island, %f" % staten
result.append(strsum)

In [65]:
print result

['bronx, 21.678126', 'queens, 19.813872', 'manhattan, 23.866517', 'brooklyn, 29.872626', 'staten island, 4.760562']